.ril-toolbar {
  padding-top: 54px;
}

.ril__toolbar {
  padding-top: 54px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: darkred;
}

.content {
  padding-top: 60px; 
}

.navbarBrand{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white;
}

.userLabel {
  margin-right: 5px;
  color: white;
}

.rotateLoader {
  transform: rotate(60deg)
}

.loginContainer {
  width: 350px;
}

.loaderContainer{
  text-align: center;
  width: fit-content;
}

.editForm {
  padding: 10px;
}

.loginButton {
  width: 100%;
  background-color: rgb(216, 6, 6);
  color: white;
  padding: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgb(155, 19, 19);
}

.dashboardConatiner {
  margin: 10px;
}

.overviewContainer {
  float: left;
  margin-top: 5px;
}

.answerContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.badgeContainer {
  float: right;
  margin-right: 3%;
}

.newQuestionContainer {
  text-align: right;
}

.newQuestionAddButton{
  margin: 5px;
}

.newQuestionCancelButton{
  margin: 5px;
}

.backButtonContainer {
  text-align: right;
  margin: 10px;
}

.answerTableContainer {
  display: block;
  margin: 10px;
}

.tableContainer {
  display: block
}

.questionForm {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.replyFormLayout {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  padding: 5px;
}

.inputButton {
background-color: rgb(22, 124, 158);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
width: 105%;
}

.inputButton:hover {
background-color:rgb(18, 98, 124);
}

.userFrom {
  border: 1pt solid;
  border-radius: 3px;
  padding: 5px;
  margin-top: 3px;
  border-color: lightgrey;
}

.addUserSubmit {
  margin-top: 5px;
  width: inherit;
}

.formButton {
  margin: 2px;
  float: inherit;
}

.align {
text-align: -webkit-center;
}

.textInput {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textInputTitle {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.question {
  text-align: justify;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  border: 1pt solid;
  border-color: darkgray;
}

.upload-wrap {
  padding-top: 1%;
  position: relative;
}

.floatLeft {
  width: 50%;
  float: left;
}

.floatRight {
  width: 50%;
  float: right;
}

.tagSpan {
  background-color: lightgrey;
  margin: 5px;
  padding: 2px;
  border-radius: 20px;
  font-size: x-small;
  cursor: default;
}

.tagStatus {
  background-color: greenyellow;
  padding: 2px;
  border-radius: 5px;
  font-size: small;
  float: right;
  cursor: default;
}

.replyEditorButtonSubmit {
  margin: 2px;
  float: left;
}

.replyEditorButtonCancel {
  margin: 2px;
}

.editor {
  margin: 1rem auto;
  max-width: 40rem;
}

.quill {
display: inherit;
}  

.editor .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.editor .ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  background: white;
}

.ql-editor  { display: block; }
.raw-editor { display: none; max-width: 40rem; width: 100%; }
.showRaw .ql-editor  { display: none; }
.showRaw .raw-editor { display: block; }

.dataTables_length.bs-select.dataTables_length.bs-select {
  display: none
}

.pagination {
  user-select: none;
}