body {
    background: #f3f1f2;
}

.navbar {
    background-color: darkred;
}
  
.content {
    padding-top: 55px; 
}
  
.navbarBrand{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
}
  
.subHeaderContainer {
  position: relative;
  height: 30%;
  background-image: linear-gradient(#f3f1f2, #c5c5c5);
  /* border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%; */
  padding-bottom: 5px;
  text-align: center;
}

.loginForm {
  margin: 5px;
  text-align: center;
  display: table-caption;
}

.tableContainer {
  background-color: white; 
  cursor: default;
  width: -webkit-fill-available;
  margin: 5px;
}

.tableRow {
  border: 1pt solid;
  border-color : lightblue;
  border-radius: 5px;
  padding: 5px;
}

.tableRow:hover {
  background-color: whitesmoke;
}

.questionForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.viewButton {
  background-color: rgb(22, 124, 158);
  color: white;
  padding: 5px;
  margin: 0px;
  border: none;
  border-radius: 20px;
}

.viewButton:hover {
  background-color:rgb(18, 98, 124);
}

.inputButton {
  background-color: rgb(22, 124, 158);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 105%;
}

.inputButton:hover {
  background-color:rgb(18, 98, 124);
}

.newQuestionButton {
  background-color: lightslategray;
  color: white;
  padding: 5px;
  border: none;
  margin: 3px;
  border-radius: 4px;
}

.newQuestionButton:hover {
  background-color: darkslategray; 
}

.logoutButton {
  background-color: #FF6A2E;
  color: white;
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 4px;
}

.logoutButton:hover {
  background-color: #AD0000;
}

.cancelButton {
  background-color: #FF6A2E;
  color: white;
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  float: right;
}

.cancelButton:hover {
  background-color: #AD0000;
}

.submitButton {
  background-color:blue;
  color: white;
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 4px;
}

.submitButton:hover {
  background-color:darkblue;
}

.align {
  text-align: -webkit-center;
}

.textInput {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textInputTitle {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.question {
  text-align: justify;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.acceptButton {
  background-color:lightblue;
  color: white;
  border: none;
  border-radius: 4px;
}

.acceptButton:hover {
  background-color: blue
}

.closeButton {
  background-color:lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.closeButton:hover {
  background-color: blue
}

.upload-wrap {
    padding-top: 1%;
    position: relative;
  }

.floatLeft {
    float: left;
  }

.floatRight {
  float: right;
}

.tagSpan {
  background-color: lightgrey;
  margin: 5px;
  padding: 2px;
  border-radius: 20px;
  font-size: x-small;
  cursor: default;
}

.tagStatus {
  background-color: greenyellow;
  padding: 2px;
  border-radius: 5px;
  font-size: small;
  float: right;
  cursor: default;
}

.tableMargin {
  margin-right: 20px;
  width: -webkit-fill-available;
}

.editor {
    margin: 1rem auto;
    max-width: 40rem;
  }

.quill {
  display: inherit;
}  

.editor .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
  
.editor .ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
  }
  
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px;
    background: white;
}
  
.ql-editor  { display: block; }
.raw-editor { display: none; max-width: 40rem; width: 100%; }
.showRaw .ql-editor  { display: none; }
.showRaw .raw-editor { display: block; }